.lost__container__home {
  min-height: 100vh;
  background: #eee;
  padding: 20px;
}

.item__obj__home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.card__home {
  background: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  transition: transform 100ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__home:hover {
  transform: scale(1.05);
}

.card__home img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card__home .item-desc {
  flex-grow: 1;
  margin-top: 10px;
}

.card__home p {
  margin: 10px 0;
  text-align: center;
}

.button__div__home {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.button__home {
  width: 100%;
  background: #af1817;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.contact__message {
  text-align: center;
  font-size: 0.8em;
}

.no-items-message {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
}

.obj__filters__home {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}

.obj__item__filter__home {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  background-color: #eee;
}

.obj__item__filter__home:hover {
  background-color: black;
  color: #fff;
}

.active__item__home {
  background-color: black;
  color: white;
}

.search__container__home {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text__input__home {
  width: 50%;
  font-size: 20px;
  padding: 8px 10px;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input__icon__home {
  font-size: 20px;
  margin-right: 10px;
  align-self: center;
}